
body {
    background-color: #EADEDB; /* "Almost mauve" */
}

.mainHeader { /* h1 tags */
    font-family: 'Lora', serif;
}

.mediumHeader { /* h2 tags */
    font-family: 'Lora', serif;
}

.smallHeader { /* h3 tags */

}

.smallInfoHeader { /* h4 tags */

}

.list { /* ul tags */

}

.list__item { /* li within a ul */

}

.list__itemLink {

}

.form {

}

.form__label {

}

.form__textInput {

}

.form__button {

}

.selectMenu {

}

.selectMenu__option {

}

.lesson { /* lesson display card */

}

.text { /* p tags */

}