<div class="headersDiv">
  <h1 class="logo">Planifier </h1>
  <h2 class="mediumHeader">Welcome, <%= @current_user.name.split(" ").first %>. </h2>
  <h2 class="mediumHeader">Here is what your colleagues are planning...</h2>
</div>

<ul class="list">
  <% @lessons.each do |lesson| %>
    <li class="list__item"><a href="/lessons/<%=lesson.id%>" class="list__itemLink"> <%= lesson.title %> </a> 
        </li>
  <% end %>
</ul>

