<h1 class="mainHeader">Welcome, <%= @current_user.name.split(" ").first %>. </h1>
<h2 class="mediumHeader">Here's what your colleagues are planning...</h2>

<ul class="list">
  <% @lessons.each do |lesson| %>
    <li class="list__item"><a href="/lessons/<%=lesson.id%>" class="list__itemLink"> <%= lesson.title %> </a> 
        </li>
  <% end %>
</ul>

