<h1 class="mainHeader">Create a new lesson:</h1>

<form action="/lessons" method="post" class="form">
  <div class="form__piece">
  <label for="title" class="form__label">Lesson title: </label>
  <input type="text" name="title" class="form__textInput">
  </div>

  <div class="form__piece">
  <label for="objectives" class="form__label">Objective(s): </label>
  <input type="textarea" name="objectives" class="form__textArea">
  </div>

  <div class="form__piece">
  <label for="content" class="form__label">Plan content: </label>
  <input type="textarea" name="content" class="form__textArea">
  </div>

  <div class="form__piece">
  <label for="assessment" class="form__label">Assessment: </label>
  <input type="textarea" name="assessment" class="form__textArea">
  </div>

  <div class="form__piece">
  <label for="course" class="form__label">Course: </label>
  <select name="course" class="selectMenu">
    <% @my_courses.each do |course| %>
    <option class="selectMenu__option" value="<%=course.id%>"><%= course.name %></option>
    <%end%>
  </select>
  </div>

  <input type="submit" value="Create" class="form__button">
</form>