<div class="headersDiv"><h1 class="mainHeader"> See what your colleagues are planning: </h1></div>

<ul class="list">
  <% @teachers.each do |teacher| %>
    <% if teacher.id != @current_user.id %>
      <li class="list__item"> <a href="/teachers/<%=teacher.id%>" class="list__itemLink"> <%= teacher.name %>  </a> </li> <br>
    <% end %>
  <% end %>
</ul>