<h1> See what your colleagues are planning: </h1>

<ul>
  <% @teachers.each do |teacher| %>
    <% if teacher.id != @current_user.id %>
      <li> <a href="/teachers/<%=teacher.id%>"> <%= teacher.name %>  </a> </li> <br>
    <% end %>
  <% end %>
</ul>