<h1> Click one of <%= @teacher.name %>'s courses to see their lessons: </h1>

<ul>
  <% @teacher.courses.each do |course| %>
    <li> <a href="/courses/<%=course.id%>"><%= course.name %> </a> </li>
  <% end %>
</ul>