<h1 class="mainHeader"> Click one of <%= @teacher.name %>'s courses to see their lessons: </h1>

<ul class="list">
  <% @teacher.courses.each do |course| %>
    <li class="list__item"> <a href="/courses/<%=course.id%>" class="list__itemLink"> <%= course.name %> </a> </li>
  <% end %>
</ul>