<h1> <%= @teacher.name %> </h1>

<h2> <%= @teacher.name%>'s courses: </h2>

<ul>
  <% @teacher.courses.each do |course| %>
    <li> <a href="/courses/<%=course.id%>"><%= course.name %> </a> </li>
  <% end %>
</ul>