<div class="headersDiv"><h1 class="mainHeader"> View Your Saved Lessons: </h1></div>


<ul class="list">
<% @saved_lessons.each do |sl| %>
  <% lesson = Lesson.find_by_id(sl.lesson_id) %>
  <li class="list__item"><a href="/lessons/<%=lesson.id%>" class="list__itemLink"><%= lesson.title %> </a></li>
<% end %>
</ul>