<h1 class="mainHeader"> All Courses </h1>

<h3 class="smallHeader"><a href="/courses/new" class="smallHeader__link">Create a new course.</a> </h3>

<ul class="list">
  <% @courses.each do |course| %>
    <li class="list__item"><a href="/courses/<%=course.id%>" class="list__itemLink"> <%= course.name %></a>
    
    <% end %>
    
</ul>