<h1 class="mainHeader"> Create a new course: </h1>

<form action="/courses" method="post" class="form">
  <label for="name" class="form__label"> Course name: </label>
  <input type="text" name="name" class="form__textInput">
  <input type="submit" class="form__button">
</form>