<h1 class="mainHeader">Lessons for <%=@course.name %> </h1>
<h2 class="mediumHeader"> by <%=@course.teacher.name %> </h2>
<a href="/lessons/new" class="mediumHeader__link">Create a new lesson.</a>

<ul class="list">
  <% @lessons.each do |lesson| %>
    <li class="list__item"> <a href="/lessons/<%=lesson.id%>" class="list__itemLink"> <%= lesson.title %> </a> </li>
  <% end %>
</ul>