<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>Planifier</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
</head>

  <body>
    <div class="flex-container">
    <div class="navbar">
      <a href="/lessons">Lessons feed</a>
      <a href="/lessons/new">Create a new lesson</a>
      <a href="/courses">View Courses</a>
      <a href="/mylessons">My Lessons</a>
      <a href="/teachers">My colleagues</a>
      <a href="/logout">Logout</a>
    </div>
    <%= yield %>


    </div>
  </body>

</html>
