<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div class="navbar">
      <a href="/lessons/new">Create a new lesson</a>
      <a href="/courses">View Courses</a>
      <a href="/mylessons">My Lessons</a>
      <a href="/teachers">My colleagues</a>
      <a href="/logout">Logout</a>
    </div>
    <%= yield %>


    <footer><a href="/lessons">Go back to the lessons page.</a> </footer>
  </body>

</html>
