<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>Planifier</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
  <style> 
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
  
  </style>  
</head>

  <body>
    <nav class="mainNav">
      <a href="/lessons" class="mainNav__link">Lessons feed</a>
      <a href="/lessons/new" class="mainNav__link">Create a new lesson</a>
      <a href="/courses" class="mainNav__link">View Courses</a>
      <a href="/mylessons" class="mainNav__link">My Lessons</a>
      <a href="/teachers" class="mainNav__link">My colleagues</a>
      <a href="/logout" class="mainNav__link">Logout</a>
    </nav>

    <div class="flex-container">
 
    <%= yield %>

  </div>
  </body>

</html>
