<h1>Create an Account</h2>
<h4>All fields are required.</h4>

<form action="/signup" method="post">
  <label for="name">Your name: </label>
  <input type="text" name="name"><br>

  <label for="email">Your email address:</label>
  <input type="text" name="email"><br>
  
  <label for="username">Username:</label>
  <input type="text" name="username"><br>

  <label for="password">Password: </label>
  <input type="password" name="password"><br>
  
  <input type="submit">
</form>