<div class="headersDiv">
  <h1 class="mainHeader"> Planifier </h1>

  <h2 class="mediumHeader"> <a href="/login" class="mediumHeader__link">Log in</a> or <a href="/signup" class="mediumHeader__link">Sign up</a> </h2>
</div>